
ECSJobDemos/Assets/Plugins*
ECSJobDemos/Library
ECSJobDemos/Temp
ECSJobDemos/obj


UnstablePrototypes/BlobificationPrototype/Library
UnstablePrototypes/BlobificationPrototype/Temp
UnstablePrototypes/BlobificationPrototype/obj

UnstablePrototypes/LowLevelQueryAPI/Assets/Plugins*
UnstablePrototypes/LowLevelQueryAPI/Library
UnstablePrototypes/LowLevelQueryAPI/Temp
UnstablePrototypes/LowLevelQueryAPI/obj
UnstablePrototypes/LowLevelQueryAPI/.editorconfig

UnstablePrototypes/Asteriods/.vscode
UnstablePrototypes/Asteriods/Assets/Plugins*
UnstablePrototypes/Asteriods/Library
UnstablePrototypes/Asteriods/Temp
UnstablePrototypes/Asteriods/StandardBuild
UnstablePrototypes/Asteriods/obj
UnstablePrototypes/Asteriods/.editorconfig

UnstablePrototypes/GalacticConquest/.vscode
UnstablePrototypes/GalacticConquest/.vs
UnstablePrototypes/GalacticConquest/Assets/Plugins*
UnstablePrototypes/GalacticConquest/Library
UnstablePrototypes/GalacticConquest/Temp
UnstablePrototypes/GalacticConquest/obj
UnstablePrototypes/GalacticConquest/.editorconfig

StressTest/Assets/Plugins*
StressTest/Library
StressTest/Temp
StressTest/obj

*.idea
*.csproj
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store

.vs/
build/*
